.topNavigateBar {
    width: 100%;
    height: 75px;
    position: sticky; 
    top: 0; 
    margin-bottom: 0;
    background-color: #303438;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.LogoContainer {
    margin-left: 7%;
    margin-bottom: 0;
    height: 75px;
}

.Logo {
    height: 75px;
}

.MenuContainer {
    display: inline-block;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    height: 40px;
    width: 5%;
    padding-top: 0;
    background-color: rgba(0,0,0,0);
    text-align: center;
}

.MenuLink {
    display: block;
    margin: 0;
    font-size: 20px;
    position: relative;
    top: 5px;
    text-decoration: none;
    color: white;
}

.MenuLink:hover {
    font-size: 22px;
    color: rgb(219, 215, 215);
}